/* desk */
/* 登入login */
 .bg {
  background: var(--light, #f4ebeb);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='773' viewBox='0 0 1920 773' fill='none'%3E%3Cpath d='M2179.57 14.8647C2102.51 -7.20907 1921.85 -26.0227 1836.17 129.648C1729.07 324.236 1532.91 401.896 1364.71 375.571C1241.99 352.149 949.527 326.698 808.018 480.03C666.509 633.363 455.479 604.406 345.937 555.496C236.396 506.587 198.821 436.784 97.062 384.058C-40.8705 335.262 -336.717 323.677 -416.643 667.703L-365.803 772.265L559.234 766.072L1128.29 762.263L1559.48 759.376L1840.37 757.496L2194.55 755.124L2204.68 519.705L2190.9 209.798L2179.57 14.8647Z' fill='%23BA435D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: flow 15s ease-in-out infinite;
}
@keyframes flow {
  0%, 100% {
    background-position: 0% 50%;
  
  }
  50% {
    background-position: 100% 50%;

  }
}


/* 手機版樣式 */
@media (max-width: 768px) {
  .bg {
    background: none; /* 去除背景 */
  }
}


 .loginBox {
  width: 500px;
  height: 100%;
  background: #fffdfd;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 50px;
  position: relative;
  margin: auto;
  top: 50px;
  margin-bottom: 100px;
}

 .navTabs {
  width: 100%;
  font-size: medium;
  margin-bottom: 20px;
  border: none !important ;
  border-bottom: 5px solid var(--light) !important ;
  justify-content: space-around;
  font-weight: 700;
  color: #A66E7B !important ;
  text-decoration: none !important ;

}

.navTabs .nav-link   {
   /* padding: 15px; */
        /* 移除预设样式 */
        width: 100%;
        appearance: none !important ;
        -webkit-appearance: none !important ;
        -moz-appearance: none !important ;
        border: none !important ;
        background: none;
        margin: 0;
        position: relative;
        display: inline-block;
        font-size: 15px;
        margin-top: 10px;

        color: #A66E7B !important ;
        font-weight: 700;
        letter-spacing: 2px;
        border: none;
  }
  
.nav-link::after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -5px;
    height: 2px;
    width: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
    color: #A66E7B !important ;
    border: none !important ;
  }
  
.nav-link:hover::after,
.nav-link.active::after {
    color: #A66E7B !important ;
    width:10%;
    height: 5px;
    left: -10;
    bottom: -1;
    border: none !important ;
  }
 


.tabContent {
  color:  #a66e7b;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  margin-right: -25px;
}

.loginContent .label {
  color: #a66e7b;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4px;
}

.loginContent .loginInput {
  width: 80%;
  border: none;
  border-bottom: 2px solid #a66e7b;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: x-large;
  color: var(--info-dark_blue);
  outline: none;
  background-color: transparent; /* 添加這行 */
}
.loginContent .loginInput::placeholder {
  color: #afa6a6;
  font-size: medium;
  background-color: transparent; /* 添加這行 */
}

.loginContent .span {
  color: var(--orange, #ff4f4f);
  display: block;
  margin-bottom: 5px;
}

.loginContent .notice {
  color: var(--orange, #ff4f4f);
  text-decoration: none;
}

.loginContent .pwdNotice {
  margin-right: 20%;
}

/* 隱藏預設的 checkbox 樣式 */
.formCheckInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none;
}

/* 自定義 checkbox 選中狀態 */
.formCheckInput:checked {
  background-color: #9a5b69;
  border-color: #ccc;
}

 .formCheckInput:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #9a5b69;
  border-radius: 2px;
}

.loginContent .forgetPwd {
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 隱藏預設的 checkbox 樣式 */
.loginContent .forgetPwd .formCheck .formCheckInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none;
}

/* 自定義 checkbox 選中狀態 */
.loginContent .forgetPwd .formCheck .formCheckInput:checked {
  background-color: #9a5b69;
  border-color: #ccc;
}

/* 偽元素來表示選中狀態的外觀 */
.loginContent .forgetPwd .formCheck .formCheckInput:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #9a5b69;
  border-radius: 2px;
}

/* 忘記密碼 */
.outlineButton{
  width: 40%;
  height: auto;
  border-radius: 4px;
  background: transparent;
  /* border: 2px solid var(--primary_color-purple, #9A5B69); */
  color: var(--blue);
  font-size: 18px;
  font-weight: 500;
  /* letter-spacing: 8px; */
  margin-top: 10px;
  margin-right: -30px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

.outlineButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--primary_color-purple, #9A5B69);
  transition: all 0.3s ease;
  z-index: -1;
}

.outlineButton:hover {
  color: var(--primary_color-light, #F4EBEB);
}

.outlineButton:hover::before {
  left: 0;
}

.outlineButton:active {
  transform: scale(0.98);
}

.loginContent .noAccount {
  margin-right: 20%;
  margin-top: 10px;
}

.loginContent .button {
  width: 80%;
  height: 60px;
  border-radius: 4px;
  background: var(--primary_color-purple, #9a5b69);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary_color-light, #f4ebeb);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 10px;
}

.loginContent .fastLogin {
  width: 80%;
}

.loginContent .fastLogin .hr {
  color: var(--text_color-text_primary);
  border: 0;
  font-size: 12px;
  padding: 10px 0;
  position: relative;
  margin-bottom: 30px;
}

.loginContent .fastLogin .hr::before {
  content: '快速登入';
  position: absolute;
  padding: 0 10px;
  line-height: 1px;
  border: solid var(--text_color-text_primary);
  border-width: 0 100vw;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

.loginContent .fastLogin .buttonGruop {
  margin-bottom: 50px;
}
.loginContent .fastLogin .buttonGruop .googleLogin {
  width: 100%;
  font-size: 16px;
  background-color: var(--primary);
  margin-bottom: 30px;
  white-space: nowrap;
  height: 60px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary_color-light, #f4ebeb);
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 10px;
}

.loginContent .fastLogin .buttonGruop .googleLogin .img {
  object-fit: scale-down;
}
.loginContent .fastLogin .buttonGruop .lineLogin {
  width: 100%;
  font-size: 16px;
  background-color: #06c755;
  height: 60px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary_color-light, #f4ebeb);
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 10px;
}

/* 註冊register */
.registerContent {
  width: 100%;
}

.registerContent .label {
  color: var(--primary_color-purple_light, #a66e7b);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4px;
  margin-top: 15px;
}

.registerContent .span {
  color: var(--info-orange, #ff4f4f);
  display: block;
  margin-right: 80px;
  margin-top: 7px;
}

.registerContent .registerInput {
  width: 80%;
  border: none;
  border-bottom: 2px solid var(--primary_color-purple_light, #a66e7b);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: x-large;
  color: var(--info-dark_blue);
  outline: none;
}

 .registerContent .rRegisterInput::placeholder {
  color:#afa6a6;
  font-size: medium;
}

.registerContent .registerInput::placeholder {
  color:#afa6a6;
  font-size: medium;
}

.registerContent .labelName {
  margin-right: 35%;
}

.registerContent .labelTel {
  margin-left: -30px;
}

.registerContent .labelGender {
  margin-left: -10px;
}

.registerContent .registerInput2 {
  width: 37%;
  border: none;
  border-bottom: 2px solid var(--primary_color-purple_light, #a66e7b);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: x-large;
  color: var(--info-dark_blue);
  outline: none;
}

.registerContent .registerInput2.rRegisterInput {
  display: inline-block;
  margin-left: -30px;
}

.registerContent input[type='date'] {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20px;
}

.registerContent select {
  width: 170%;
  border-radius: 0%;
  border: none;
  font-size: large;
  color: var(--info-dark_blue);
  border-bottom: 2px solid #a66e7b;
  margin-top: 10px;
  margin-left: -35px;
}

  .registerContent .button {
  width: 80%;
  height: 60px;
  border-radius: 4px;
  background: var(--primary_color-purple, #9a5b69);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary_color-light, #f4ebeb);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}

  .registerContent .btnBack {
  margin-top: -20px;
  margin-left: 45%;
  margin-bottom: 30px;
}

  .registerContent .btnBack .notice {
  color: var(--primary_color-purple_light);
  text-decoration: none;
}

/* rwd */
/* .navTabs {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 8%;
    border-bottom: 5px solid var(--primary_color-light);
    justify-content: space-around;
}

.navItem {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: var(--primary_color-purple);
}

.navLink {
    color: var(--primary_color-purple);
    border: none;
    background: none;
    position: relative;
    display: inline-block;
    font-size: large;
}

.navLink.active {
    color: var(--primary_color-purple);
}

.navLink:hover {
    color: var(--primary_color-purple);
}

.navLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    color: var(--primary_color-purple);
}

.navLink:hover::after,
.navLink.active::after {
    background-color: var(--primary_color-purple);
    width: 165%;
    height: 5px;
    left: -35%;
    bottom: -1px;
} */

.tabContent {
    color: var(--primary_color-purple_light, #A66E7B);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-right: -25px;
}

.loginContent label {
    color: var(--primary_color-purple_light, #A66E7B);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.loginContent .loginInput {
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--primary_color-purple_light, #A66E7B);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
    color: var(--info-dark_blue);
    outline: none;
}

.loginContent span {
    color: var(--info-orange, #FF4F4F);
    display: block;
    margin-bottom: 5px;
}

.loginContent .notice {
    color: var(--info-orange, #FF4F4F);
    text-decoration: none;
}

.formCheckLabel {
    font-size: smaller;
    margin-top: 3px;
}

.pwdNotice {
    margin-right: 20%;
}

.formCheck input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 0px;
    position: relative;
    cursor: pointer;
    outline: none;
}

.formCheck input[type="checkbox"]:checked {
    background-color: #9A5B69;
    border-color: #ccc;
}

.formCheck input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #9A5B69;
    border-radius: 2px;
}

.forgetPwd {
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noAccount {
    margin-right: 20%;
    margin-top: 10px;
}

.loginButton {
    width: 80%;
    height: 60px;
    border-radius: 4px;
    background: var(--primary_color-purple, #9A5B69);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--primary_color-light, #F4EBEB);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-top: 10px;
}

.fastLogin {
    width: 80%;
}

.fastLogin hr {
    color: var(--text_color-text_primary);
    border: 0;
    font-size: 12px;
    padding: 10px 0;
    position: relative;
    margin-bottom: 30px;
}

.fastLogin hr::before {
    content: "快速登入";
    position: absolute;
    padding: 0 10px;
    line-height: 1px;
    border: solid var(--text_color-text_primary);
    border-width: 0 100vw;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.buttonGroup {
    margin-bottom: 50px;
}

.buttonGroup button {
    width: 100%;
    font-size: 16px;
    width: 100%;
  font-size: 16px;
  white-space: nowrap;
  height: 60px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--light, #f4ebeb);
  font-weight: 400;
  margin-top: 10px;
}

.googleLogin {
    width: 100%;
  font-size: 16px;
  background-color: var(--primary);
  margin-bottom: 30px;
  white-space: nowrap;
  height: 60px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary_color-light, #f4ebeb);
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 10px;
}

.googleLogin img,
.lineLogin img {
    object-fit: scale-down;
    width: 10%;
    height: 100%;
}

.lineLogin {
    background-color: #06c755;
}

/* rwd-register*/
.registerContent {
    width: 100%;
    white-space: nowrap;
}

.registerContent label {
    color: var(--primary_color-purple_light, #A66E7B);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin-top: 15px;
}

.registerContent span {
    color: var(--info-orange, #FF4F4F);
    display: block;
    margin-right: 80px;
    margin-top: 15px;
}

.registerInput {
    width: 80%;
    border: none;
    border-bottom: 2px solid var(--primary_color-purple_light, #A66E7B);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
    color: var(--info-dark_blue);
    outline: none;
}

.registerInput::placeholder {
    color: var(--dark_blue);
    font-size: small;
}

.labelName {
    margin-right: 35%;
}

.labelTel {
    margin-left: -30px;
}

.labelGender {
    margin-left: -10px;
}

.registerInput2 {
    width: 37%;
    border: none;
    border-bottom: 2px solid var(--primary_color-purple_light, #A66E7B);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;
    color: var(--info-dark_blue);
    outline: none;
}

.registerInput2.rRegisterInput {
    display: inline-block;
    margin-left: -30px;
}

.registerContent input[type="date"] {
    font-size: 18px;
    margin-top: 20px;
}

.registerContent select {
    /* width: 80%; */
    border-radius: 0%;
    border: none;
    font-size: large;
    color: var(--info-dark_blue);
    border-bottom: 2px solid #A66E7B;
    margin-top: 10px;
    margin-left: -35px;
}

.registerButton {
    width: 80%;
    height: 60px;
    border-radius: 4px;
    background: var(--primary_color-purple, #9A5B69);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--primary_color-light, #F4EBEB);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.btnBack {
    margin-top: -20px;
    margin-left: 25%;
    margin-bottom: 30px;
}

.red{
  color: var(--orange, #ff4f4f);
  text-decoration: none;
}

.btnBack Link .notice {
  color: var(--orange, #ff4f4f);
  text-decoration: none;
}

.error {
  color: red;
  display: none;
  font-size: 0.9em;
  margin-top: 5px;
  position: absolute;
  top: 20%;
  left: 20%;
}
.errorAccount {
  color: red;
  display: none;
  font-size: 0.9em;
  margin-top: 5px;
  position: absolute;
  top: 20%;
  left: 20%;
}
.errorPwd {
  color: red;
  display: none;
  font-size: 0.9em;
  margin-top: 17px;
  position: absolute;
  top: 35%;
  left: 20%;
  
}
.error .show {
  display: block;
}

/* 重設密碼 */
.resetPwdBox{
  width: 500px;
  height: 100%;
  background: #fffdfd;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 50px;
  position: relative;
  margin: auto;
  top: 100px;
  /* margin-bottom: 100px; */
}
.bgResetPwd {
  background: var(--light, #f4ebeb);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='773' viewBox='0 0 1920 773' fill='none'%3E%3Cpath d='M2179.57 14.8647C2102.51 -7.20907 1921.85 -26.0227 1836.17 129.648C1729.07 324.236 1532.91 401.896 1364.71 375.571C1241.99 352.149 949.527 326.698 808.018 480.03C666.509 633.363 455.479 604.406 345.937 555.496C236.396 506.587 198.821 436.784 97.062 384.058C-40.8705 335.262 -336.717 323.677 -416.643 667.703L-365.803 772.265L559.234 766.072L1128.29 762.263L1559.48 759.376L1840.37 757.496L2194.55 755.124L2204.68 519.705L2190.9 209.798L2179.57 14.8647Z' fill='%23BA435D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 69vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: flow 15s ease-in-out infinite;
}
@keyframes flow {
  0%, 100% {
    background-position: 0% 50%;
  
  }
  50% {
    background-position: 100% 50%;

  }
}
.resetNotice{
  color: var(--orange);
  font-weight: 500;
  font-size:large;
}

  .loginInput::placeholder {
  color: #A66E7B;
  font-size: medium;
}
.resetLabel{
  color: #a66e7b;
  font-size: large;
  font-weight: 600;
  letter-spacing: 1.4px;
}

/* 忘記密碼 */
.message{
  color: var(--blue);
  font-size: large;
  font-weight: 500;

}

  .forgetPWD::placeholder {
  color: #A66E7B;
  font-size: small;
}

.forgetPwdBox{
  width: 500px;
  height: 100%;
  background: #fffdfd;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 50px;
  position: relative;
  margin: auto;
  top: 100px;
  /* margin-bottom: 100px; */
}

.bgForget {
  background: var(--light, #f4ebeb);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='773' viewBox='0 0 1920 773' fill='none'%3E%3Cpath d='M2179.57 14.8647C2102.51 -7.20907 1921.85 -26.0227 1836.17 129.648C1729.07 324.236 1532.91 401.896 1364.71 375.571C1241.99 352.149 949.527 326.698 808.018 480.03C666.509 633.363 455.479 604.406 345.937 555.496C236.396 506.587 198.821 436.784 97.062 384.058C-40.8705 335.262 -336.717 323.677 -416.643 667.703L-365.803 772.265L559.234 766.072L1128.29 762.263L1559.48 759.376L1840.37 757.496L2194.55 755.124L2204.68 519.705L2190.9 209.798L2179.57 14.8647Z' fill='%23BA435D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 69vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: flow 15s ease-in-out infinite;
}
@keyframes flow {
  0%, 100% {
    background-position: 0% 50%;
  
  }
  50% {
    background-position: 100% 50%;

  }
}
.forgetPwdInput {
  width: 80%;
  border: none;
  border-bottom: 2px solid #a66e7b;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: x-large;
  color: var(--primary);
  outline: none;
}