
/* 重設密碼 */
.resetPwdBox{
  width: 500px;
  height: 100%;
  background: #fffdfd;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 50px;
  position: relative;
  margin: auto;
  top: 100px;
  /* margin-bottom: 100px; */
}
.bgResetPwd {
  background: var(--light, #f4ebeb);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='773' viewBox='0 0 1920 773' fill='none'%3E%3Cpath d='M2179.57 14.8647C2102.51 -7.20907 1921.85 -26.0227 1836.17 129.648C1729.07 324.236 1532.91 401.896 1364.71 375.571C1241.99 352.149 949.527 326.698 808.018 480.03C666.509 633.363 455.479 604.406 345.937 555.496C236.396 506.587 198.821 436.784 97.062 384.058C-40.8705 335.262 -336.717 323.677 -416.643 667.703L-365.803 772.265L559.234 766.072L1128.29 762.263L1559.48 759.376L1840.37 757.496L2194.55 755.124L2204.68 519.705L2190.9 209.798L2179.57 14.8647Z' fill='%23BA435D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 69vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: flow 15s ease-in-out infinite;
}
@keyframes flow {
  0%, 100% {
    background-position: 0% 50%;
  
  }
  50% {
    background-position: 100% 50%;

  }
}
.resetNotice{
  color: var(--orange);
  font-weight: 500;
  font-size:large;
}

  .loginInput::placeholder {
  color: #A66E7B;
  font-size: medium;
}
.resetLabel{
  color: #a66e7b;
  font-size: large;
  font-weight: 600;
  letter-spacing: 1.4px;
}

.button {
    width: 80%;
    height: 60px;
    border-radius: 4px;
    background: var(--primary_color-purple, #9a5b69);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--primary_color-light, #f4ebeb);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-top: 10px;
  }

/* 忘記密碼 */
.message{
  color: var(--blue);
  font-size: large;
  font-weight: 500;

}

  .forgetPWD::placeholder {
  color: #A66E7B;
  font-size: small;
}

.forgetPwdBox{
  width: 500px;
  height: 100%;
  background: #fffdfd;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 50px;
  position: relative;
  margin: auto;
  top: 100px;
  /* margin-bottom: 100px; */
}

.bgForget {
  background: var(--light, #f4ebeb);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='773' viewBox='0 0 1920 773' fill='none'%3E%3Cpath d='M2179.57 14.8647C2102.51 -7.20907 1921.85 -26.0227 1836.17 129.648C1729.07 324.236 1532.91 401.896 1364.71 375.571C1241.99 352.149 949.527 326.698 808.018 480.03C666.509 633.363 455.479 604.406 345.937 555.496C236.396 506.587 198.821 436.784 97.062 384.058C-40.8705 335.262 -336.717 323.677 -416.643 667.703L-365.803 772.265L559.234 766.072L1128.29 762.263L1559.48 759.376L1840.37 757.496L2194.55 755.124L2204.68 519.705L2190.9 209.798L2179.57 14.8647Z' fill='%23BA435D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 69vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: flow 15s ease-in-out infinite;
}
@keyframes flow {
  0%, 100% {
    background-position: 0% 50%;
  
  }
  50% {
    background-position: 100% 50%;

  }
}
.forgetPwdInput {
  width: 80%;
  border: none;
  border-bottom: 2px solid #a66e7b;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: x-large;
  color: var(--primary);
  outline: none;
}