
    .shop-product-list {
        font-size: 14px;
        color: var(--text_primary);
        height: auto;
    }

    .no-data {
        text-align: center;
        margin-top: 50px;
    }

    .no-data img {
        max-width: 50%;
        height: auto;
    }


@media screen and (max-width: 992px) {
    .shop-product-list {
        .shop-card {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .shop-product-list {
        & .row {
            padding-right: 10px;
        }
    }
}