@media (max-width: 1920px) {
    .shop-card {
        padding-inline: 0;
        padding-left: 8px;
        margin-bottom: 40px;
    }

    .shop-card-photo {
        width: 100%;
        height: auto;
        border: 2px solid #F2E6E6;
        aspect-ratio: 1/1;
        margin-bottom: 10px;
        object-fit: contain;
        position: relative;
        overflow: hidden;
    }

    .photo{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .shop-card-name{
        min-height: 50px;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .detail-link{
        text-decoration: none;
        color: var(--text-primary);
    }

    .shop-card-country {
        margin-block: 10px;
    }

    .shop-card-money {
        display: flex;
        font-weight: 700;
    }

    .shop-card-price-sale {
        margin-left: 5%;
        color: var(--wine_light);
        text-decoration: line-through;
    }

    .shop-card-price {
        color: var(--orange);
    }

    .shop-card-year{
        margin-right: 5%;
        background-color: var(--light);
        border-radius: 5px;
        padding-inline: 5%;
        color: brown;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 767px) {}