/* cartCredicard.module.css */
.payContent {
    background-color: #fcfcfc;
    padding-left: 50px;
    width: 100%;
    max-width: 720px;
    font-size: 16px;
    color: #60464c;
}

.payContent .visa {
    width: 100%;
    max-width: 70px;
    height: 70px;
    margin-top: 5px;
}

.payContent .payContent1 {
    display: flex;
}

.payContent .payContent2 {
    padding-right: 15px;
}

.payContent input {
    border: 2px solid #d4c0c0;
    border-radius: 8px;
    margin: 15px 0 20px 0;
    height: 40px;
}

.payContent input:focus {
    outline: none;
    border-color: #d4c0c0;
}

.payContent .creditcard {
    width: 100%;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 180px;
}

.payContent .creditDate {
    padding-left: 10px;
    width: 100%;
    max-width: 100px;
}

.payContent .creditname {
    width: 100%;
    max-width: 455px;
    padding-left: 10px;
    padding-right: 280px;
}

.payContent .creditNumber {
    width: 100%;
    max-width: 100px;
    padding-left: 10px;
}

.payContent .creditaddress {
    width: 100%;
    max-width: 570px;
    padding-left: 10px;
}

/* 媒體查詢 */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .payContent .creditaddress {
        width: 100%;
        max-width: 550px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 992px) {
    .payContent {
        background-color: transparent;
        padding: 0;
        display: grid;
        place-items: center;
    }

    .payContent .creditcard {
        padding-right: 130px;
    }

    .payContent .creditDate {
        padding-left: 10px;
        width: 100%;
        max-width: 200px;
    }

    .payContent .creditNumber {
        width: 100%;
        max-width: 200px;
        padding-left: 10px;
    }

    .payContent .creditaddress {
        width: 100%;
        max-width: 400px;
        padding-left: 10px;
    }

    .payContent .creditname {
        width: 100%;
        max-width: 400px;
        padding-left: 10px;
        padding-right: 280px;
    }
}

@media screen and (max-width: 420px) {
    .payContent .creditcard {
        padding-right: 80px;
    }

    .payContent .creditaddress {
        width: 100%;
        max-width: 335px;
        padding-left: 10px;
    }

    .payContent .creditname {
        width: 100%;
        max-width: 335px;
        padding-left: 10px;
        padding-right: 280px;
    }

    .payContent .creditNumber {
        width: 100%;
        max-width: 130px;
        padding-left: 10px;
    }
}
