/* 評論 */
.orderComment {
    margin-bottom: 40px;
}

.formSelect {
    margin-left: 40px;
    margin-top: 40px;
    width: 60%;
    border-radius: 44px;
    border: 1px solid var(--purple_light, #A66E7B);
    background: #FFF;
    color: var(--purple, #9A5B69);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.commentText {
    width: 60%;
    margin-left: 50px;
    margin-top: 40px;
}

.formLabel {
    color: var(--text_primary, #60464C);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.textArea {
    height: 80%;
    border-radius: 7px;
    border: 1px solid #D4C0C0;
    background: #FFF;
    resize: none;
    margin-bottom: 40px;
    color: var(--purple, #9A5B69);
    font-size: 14px;
}

.commentRating {
    margin-left: 50px;
    margin-top: 40px;
    white-space: nowrap;
}

.ratingLabel {
    color: #60464C;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
}

.star {
    color: var(--purple, #9A5B69);
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: 10px;
    /* margin-left: 30px; */
}

.commentBtn {
    width: 100%;
    height: 79px;
    border-radius: 9px;
    background: var(--wine_light, #D4C0C0);
    color: var(--ext_primary, #60464C);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4.8px;
    border: none;
}

.productTitle{
    margin-left: 50px;
    color: var(--purple, #9A5B69);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-top: 50px;
    margin-bottom: -30px;

    padding: 15px;
    /* padding-right: 15px; */
    border-radius: 44px;
    border: 1px solid var(--purple_light, #A66E7B);
    width: 50%;
}

.commentDone {
    color: var(--text_primary, #60464C);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    margin-top: 60px;
    margin-left: 70px;
}
.commentDoneText{
    /* height: px; */
    width: 70%;
    border-radius: 44px;
    /* border: 1px solid grey; */
    padding: 15px;
    padding-left: 30px;
    background: rgba(128, 128, 128, 0.308) ;
}


/* 評分星星 */
.star {
    color: grey;
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: 10px;
}

.starRating {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.starRating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}

.starRating > span:hover:before,
.starRating > span:hover ~ span:before,
.starRating > span.active:before,
.starRating > span.active ~ span:before {
    content: "\2605";
    position: absolute;
    color: #9A5B69;
}

/* 已評分星星 */
.ratingStars {
    color: #9A5B69;
    font-size: 25px; 
    margin-left: 5px;
}

.ratingStar {
    margin-right: 2px;
}
