.orderAside {
    /* 您可以在這裡添加側邊欄的整體樣式 */
  }
  
  .statusItem {
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .statusItem:hover,
  .statusItem.selected {
    background: var(--light, #F4EBEB);
  }
  
  /* 如果您想要在選中狀態下有額外的視覺提示，可以添加以下樣式 */
  .statusItem.selected {
    font-weight: bold;
  }

  .button {
    width: 100%;
    height: 50px;
    border-radius: 3.395px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-filled {
    border: none;
    background: var(--light, #F4EBEB);
    color: var(--text_primary, #60464C);
  }

  .button-outlined {
    border: 1px solid var(--light, #F4EBEB);
    background: transparent;
    color: var(--text_primary, #60464C);
  }

  .button-filled:hover {
    background: #E8DCDC;
  }

  .button-outlined:hover {
    background: #F4EBEB;
  }