html{
  min-width: 390px;
  /* ↓ 全域顏色變數 */
  --primary: #851931;
  --wine: #BA435D;
  --purple: #9A5B69;
  --purple_light: #A66E7B;
  --wine_light: #D4C0C0;
  --light: #F4EBEB;
  --text_primary: #60464C;
  --text_dark: #3F3034;
  --text_gray: #6A6A6A;
  --orange: #FF4F4F;
  --yellow: #FFF177;
  --blue: #A5D1DF;
  --blue_dark: #5B839A;
  --green: #9CD8D5;
  --green_dark: #619C91;
  /* ↑ 全域顏色變數 */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* ↓ 預設字 (1rem規範) */
  color: var(--text_dark);
  font-size: 16px;
  font-family: Noto Sans HK, sans-serif;
  /* font-family: Inter; */
  font-weight: 300;
  text-decoration: none;
  /* ↑ 預設字 */
}
@media screen and (max-width: 768px) {
  html{
      font-size: 10px;
  }
  
}
