:root {
    box-sizing: border-box;
    --text_primary: #60464C;
    --light: #F4EBEB;
    --orange: #FF4F4F;
    --wine_light: #D4C0C0;
    --purple_light: #A66E7B;
    --wine: #BA435D;
    --detail-left-padding: 6%;
    --dark-blue:#5B839A;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1920px) {

    /* header start*/
    nav {
        height: 90px;
        background-color: pink;
    }

    /* header end */

    /* main start */
    
    .product-backhome {
        display: flex;
        text-wrap: nowrap;
        text-align: center;
        flex-wrap: nowrap;
        padding-right: 80%;
        margin-block: 20px;
        margin-left: 0;
    }

    .product-info {
        color: var(--text_primary);
        letter-spacing: 2px;

        }
    }

    /* 商品詳情 */
    .product-detail {
        height: auto;
        margin-bottom: 10%;
    }

    .product-comment{
        min-height: 1000px;
        height: auto;
        background-color: #F9F9F9;
        display: flex;
        justify-content: center;
    }
    /* main end */

/* RWD 平版size */

@media screen and (max-width: 992px) {

    /* 回到商品首頁 */
    .product-backhome {
        padding-right: 60%;
    }


    /* 商品資訊 */
    .product-info {
        margin-inline: auto;

    }
    

}



/* 手機版RWD */
@media screen and (max-width: 767px) {



    /* 回商品首頁 */
    .product-backhome {
        display: none;
    }

    /* 商品圖片 */
    .product-photos {
        margin-top: 5%
    }
}