@media screen and (max-width: 1920px) {

    /* 商品標題 */
    .product-title {
        font-size: 33px;
        margin-top: 2%;
        margin-left: 5%;
    }

    /* 商品評分 */
    .product-dataStar {
        display: flex;
        padding-left: var(--detail-left-padding);
        margin-block: 5%;
        font-size: 22px;

        & .product-stars {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-left: 8%;
        }

        & .product-score {
            margin-left: 2%;
        }
    }

    /* 商品資訊 */
    .product-prices {
        display: flex;
        padding-left: var(--detail-left-padding);
        align-items: flex-end;
        margin-bottom: 8%;
        font-weight: 600;

        & .product-price {
            font-size: 35px;
            color: var(--orange);

        }

        & .product-sale {
            font-size: 30px;
            color: var(--wine_light);
            text-decoration: line-through;
            padding-bottom: 5px;
            margin-left: 7%;
        }
    }
}

@media screen and (max-width: 992px) {

    /* 商品名稱 */
    & .product-title {
        margin-left: 0;
        margin-top: 3%;
        margin-inline: 4%;
        padding-left: 2%;
    }
}

@media screen and (max-width: 767px) {

    /* 商品名稱 */
    .product-title {
        font-size: 20px;
        padding: 0;
        margin-inline: 3%;
        margin-top: 10%;
    }

    /* 商品評分 */
    .product-dataStar {
        font-size: 16px;
        padding: 0;
        margin-inline: 3%;

        & .product-stars {
            margin-left: 18%;
        }

        & .star {
            width: 20px;
        }
    }

    /* 商品價格 */
    .product-prices {
        padding: 0;
        margin-inline: 3%;

        & .product-price {
            font-size: 25px;
        }

        & .product-sale {
            font-size: 20px;
            padding-bottom: 0;
            margin-block: auto;
        }

    }
}