@media screen and (max-width: 1920px) {

    /* 大照片 */
    & .product-photo-bg {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--light);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); 

        & .product-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        & .arrow-button{
            height: 30%;
            width: 50px;
            font-size: 30px;
            color: #f4ebeba5;
            border: none;
            background-color: transparent;

            &:hover{
                color: #F4EBEB;
            }
        }
        & .arrow-right{
            position: absolute;
            right: 5%;
        }

        & .arrow-left{
            position: absolute;
            left:5%;
        }
    }

    /* 小照片 */
    & .product-photos-sm {
        display: flex;
        justify-content: space-between;

        & .product-photo-sm {
            width: 150px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 0;
            margin-top: 10px;
            border: 1px solid var(--light);
            box-shadow: 0 1px 2px var(--light);
            object-fit: cover;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            & .product-img{
                width: 100%;
                height: 100%;
                object-fit: contain;  
            }
        }
    }
}

@media screen and (max-width: 992px) {

    /* 商品圖片 */
    .product-photo-bg {
        width: 90%;
        margin-inline: auto;
    }

    .product-photos-sm {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    /* 商品圖片 */
        .product-photo-bg {
            width: 100%;
        }
    

}