@media (max-width: 1920px) {
    .shop-aside-m {
        display: none;
    }

}

@media screen and (max-width: 992px) {

    /* 平板版的aside */
    .shop-aside-overlay-m {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 9;
        width: 100%;
        height: 100%;
        position: fixed;
        backdrop-filter: blur(1px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s, visibility 0.8s;

        &.open {
            opacity: 1;
            visibility: visible;
        }
    }

    .shop-aside-m {
        display: block;
        z-index: 999;
        background: #ffffff;
        color: var(--text_primary);
        min-height: 100vh;
        /* 使用視窗高度 */
        width: 70%;
        position: fixed;
        top: 0;
        right: -800px;
        bottom: 0;
        transition: 0.8s;
        overflow-x: hidden;
        overflow-y: auto;
        /* 添加垂直滾動 */
        display: flex;
        /* 使用 flex 佈局 */
        flex-direction: column;
        /* 垂直排列子元素 */

        &.open {
            right: 0;
            transition: 1s;
        }

        & .shop-category-tags {
            margin-left: 7%;
        }

        & .shop-aside-m-top {
            position: relative;
            display: flex;
            height: 110px;
            background: var(--primary);
            color: #ffffff;
            font-size: 18px;
            letter-spacing: 3px;
            z-index: 999;
            flex-shrink: 0;
            margin-right: 0;
            width: 100%;

            & img {
                position: absolute;
                top: 68%;
                left: 4%;
                width: 20px;
            }

            & p {
                position: absolute;
                top: 65%;
                left: 10%;
            }

            & button {
                height: 35px;
                width: 35px;
                border: transparent;
                background: transparent;
                color: #ffffff;
                font-size: 30px;
                position: absolute;
                top: 55%;
                right: 5%;
            }
        }

        & .shop-category-title,
        .shop-variet-title,
        .shop-price-title,
        .shop-country-title,
        .shop-origin-title {
            font-size: 16px;
            margin-block: 5%;
            padding-left: 8%;
        }

        & select:focus {
            outline: none;
        }


        & select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-left: 8%;
            margin-bottom: 25px;
            /* 取消瀏覽器默認箭頭 */
            appearance: none;
            background-image: url(/shop_images/fliter-arrow-m.svg);
            background-repeat: no-repeat;
            background-position: 95% center;
            font-size: 14px;
            letter-spacing: 1px;
            color: var(--text_primary);
            width: 80%;
            height: 40px;
            border: 1px solid var(--wine_light);
            border-radius: 44px;
            padding-left: 18px;
            position: relative;
            background-color: white;

            & option:hover,
            & option:focus {
                background-color: #f0f0f0;
                /* 淺灰色背景 */
                color: #333;
                /* 深灰色文字 */
            }

            &  option:checked {
                background-color: #a83e51;
                /* 您的主題色 */
                color: white;
            }
        }



        & .shop-category-tags {
            display: flex;
            flex-wrap: wrap;
            padding-left: 1%;

            & .category-tag {
                border: 1px solid var(--light);
                border-radius: 7px;
                width: auto;
                padding-inline: 10px;
                padding-block: 5px;
                letter-spacing: 1px;
                margin-inline: 9px;
                margin-block: 5px;
                background: var(--light);
                font-size: 13px;
                color: var(--text_primary);
            }
        }
    }

    /* 雙滑軌 */

    .minmaxprice {
        display: flex;
        margin-left: 8%;
    }

    .dash {
        margin-inline: 5px;
        padding-top: 3%;
    }

    .aside-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        width: 42%;
        height: 40px;
        border: 1px solid #E1E1E1;
        border-radius: 30px;
        padding-left: 3%;
        padding-right: 5%;
        margin-bottom: 25px;
    }


    .price-slider {
        position: relative;
        width: 80%;
        height: 14px;
        background-image: url(/shop_images/line.svg);
        background-size: cover;
        background-position: 50% 90%;
        margin-left: 8%;
    }

    /* 移除預設功能與樣式 */
    .price-slider input[type="range"] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        width: 100%;
        height: 10px;
    }

    /* 設置新的樣式與重啟功能 */
    .price-slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 20px;
        width: 20px;
        background-color: #F0F0F0;
        border: 2px solid #E1E1E1;
        border-radius: 50%;
        pointer-events: auto;
    }

    .slider-minmax {
        padding-left: 5%;
        margin-top: 10px;
        margin-bottom: 40px;

        & .money-max {
            padding-left:10%;
        }
    }

    .shop-fliter-buttons {
        margin-left: 10%;
        margin-bottom: 10%;

        & button {
            color: var(--text_primary);
            font-size: 16px;
            border-radius: 3px;
            padding-inline: 13%;
            padding-block: 5%;
            background: var(--light);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);

            &:hover {
                background-color: var(--light);
            }
        }


        & .submit-button {
            margin-left: 5%;
        }
    }

}

@media screen and (max-width: 767px) {
    .shop-aside-m {
        width: 77%;
        min-height: 100vh;

        & .shop-aside-m-top {
            height: 110px;
            width: 100%;

            & img {
                width: 18px;
            }

            & p {
                font-size: 15px;
                margin-left: 3%;
            }

            & button {
                font-size: 25px;
                top: 60%;
            }
        }

        & .shop-category-tags {
            margin-left: 6%;
        }

        & .category-tag {
            font-size: 12px;
        }

        & .price-slider {
            width: 84%;
            height: 14px;
        }

        & .slider-minmax {
            margin-left: 0;
            margin-top: 5px;

            & .money-max {
                margin-left: 1%;
            }
        }

        & .shop-fliter-buttons {

            & button {
                font-size: 15px;
                padding-inline: 10%;
            }

            & .submit-button {
                margin-left: 5%;
            }
        }
    }
}