@media (max-width: 1920px) {
    .shop-flite-p {
        color: var(--primary);
        font-weight: 700;
        padding-left: 10px;
        padding-top: 17px;
    }


    .shop-category-fliter {
        border-bottom: 1px solid #E1E1E1;
        border-top: 1px solid #E1E1E1;
        line-height: 30px;
        letter-spacing: 2px;
        padding-bottom: 8%;

        & .category-button {
            width: 100%;
            text-align: start;
            color: var(--text_primary);
            border: none;
            background-color: transparent;
            padding-left: 5%;
            padding-block: 1%;
            border-radius: 5px;
            margin-bottom: 2%;

            &:hover {
                background-color: var(--light);
            }

            &.selected {
                background-color: var(--light);
            }
        }


    }

    .shop-variet-fliter,
    .shop-country-fliter,
    .shop-origin-fliter {
        border-bottom: 1px solid #E1E1E1;
    }

    .shop-price-fliter,
    .shop-variet-fliter,
    .shop-country-fliter,
    .shop-origin-fliter {
        height: auto;
        color: var(--text_primary);
        line-height: 35px;
        text-wrap: nowrap;

        & form {
            padding-left: 10px;
            margin-bottom: 30px;
        }

        /* appearance: none取消radio預設樣式 */
        /* radio未被選取時的樣式 */
        & input[type="radio"] {
            appearance: none;
            width: 17px;
            height: 17px;
            border: 2px solid #E1E1E1;
            background-color: #F0F0F0;

        }

        /* radio被選取時的樣式 */
        & input[type="radio"]:checked {
            width: 17px;
            height: 17px;
            border: 2px solid #E1E1E1;
            background-color: #F0F0F0;
            position: relative;
        }

        /* radio被選取時中間的樣式 */
        & input[type="radio"]::before {
            content: '';
            opacity: 0;
            width: 10px;
            height: 10px;
            background-color: var(--primary);
            border: 1px solid var(--primary);
            /* 精準定位在中間 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* radio被選取時+中間的樣式 */
        & input[type="radio"]:checked::before {
            opacity: 1;
        }

        & label {
            margin-left: 5px;
        }
    }
    .disabledOption{
        display: none;
    }

    /* 雙滑軌 */

    .minmaxprice {
        display: flex;
    }

    .dash {
        margin-inline: 5px;
    }

    .aside-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        width: 45%;
        height: 40px;
        border: 2px solid #E1E1E1;
        border-radius: 30px;
        padding-left: 3%;
        padding-right: 5%;
        margin-bottom: 25px;
    }


    .price-slider {
        position: relative;
        width: 97%;
        height: 15px;
        background-image: url(/shop_images/line.png);
        background-size: cover;
        background-position: 50% 80%;
    }

    /* 移除預設功能與樣式 */
    .price-slider input[type="range"] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        width: 100%;
        height: 10px;
    }

    /* 設置新的樣式與重啟功能 */
    .price-slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 18px;
        width: 18px;
        background-color: #F0F0F0;
        border: 2px solid #E1E1E1;
        border-radius: 50%;
        pointer-events: auto;
    }

    .shop-fliter-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 25%;
        font-size: 18px;
        margin-top: 30px;
        height: 80px;
        width: 95%;
        letter-spacing: 3px;
        border-radius: 10px;
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: #ffffff;
    }
    .show-more-button{
        margin-top: 5%;
        width: 100%;
        border: none;
        background-color: transparent;
        color: rgb(181, 124, 124);
    }
}

@media screen and (max-width: 992px) {
    .product-pc-aside {
        display: none;
    }
}

@media screen and (max-width: 767px) {}