

    /* 收藏icon */
    & .product-fav-icon {

        & .fav-button{
            width: 40px;
            font-size: 35px;
            background: none;
            border: none;
            color: var(--text_primary);
        }
    }

    /* 加入購物車按鈕 */
    & .product-add-cart-button {
        margin-left: 5%;
        width: 88%;
        border: 2px solid var(--wine);
        background-color: var(--orange);
        color: white;
        letter-spacing: 2px;
        height: 80px;
        border-radius: 5px;
        font-size: 24px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    & .product-add-cart-button:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }


@media screen and (max-width: 992px) {
    & .product-add-cart-button {
        width:87%;
    }
}

@media screen and (max-width: 767px) {
    & .product-fav-icon {
        & .fav-button{
            width: 30px;
            font-size: 25px;
        }
    }

    & .product-add-cart-button {
        width: 95%;
        border: 2px solid var(--wine);
        background-color: var(--orange);
        text-wrap: nowrap;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        height: 55px;
    }
}
