
    .select {
        height: 50px;
        width: 70%;
        border: 2px solid var(--wine_light);
        letter-spacing: 2px;
        text-align: center;
        color: var(--text_primary);
        appearance: none;
        background-image: url(/product_images/years-arrow.svg);
        background-repeat: no-repeat;
        background-position: 90% center;
        margin-left: 4%;
    }

    .select:focus {
        outline: none;
    }


@media screen and (max-width: 992px) {
    .select {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .select {
        font-size: 20px;
        color: var(--text_primary);
        border: 2px solid var(--wine_light);
        width: 100%;
        height: 50px;
        text-align: center;
        appearance: none;
        background-image: url(/product_images/years-arrow.svg);
        background-repeat: no-repeat;
        background-position: 90% center;
        margin-left: 0;
    }

    & select:focus {
        outline: none;
    }
}