
    
    .path {
        padding: 0;
    }

    .product-top-arrow {
        width: 10px;
        height: 10px;
    }

    .link {
        font-size: 14px;
        text-decoration: none;
        color: var(--text_primary);
    }


@media screen and (max-width: 992px) {}

@media screen and (max-width: 767px) {}